.how-to-order-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 7180px;
    height: 991px;
}

@media screen and (max-width: 1024px){
    .how-to-order-section {
        align-items: start;
        justify-content: center;
        margin-top: 11710px;
        height: 153vw;
    }
}