.how-to-order-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 7180px;
    height: 991px;
}

@media screen and (max-width: 1000px){
    .how-to-order-section {
        justify-items: center;
        justify-content: center;
        margin-top: 11010px;
        height: 1506.25px;
    }
}