.site-main-section__bg-illustration1 {
    top: -145px;
    right: 870px;
    height: 150px;
}

.site-main-section__bg-illustration2 {
    top: 110px;
    right: 985px;
    height: 85px;
}

.site-main-section__bg-illustration3 {
    top: 340px;
    right: 1070px;
    height: 160px;
}