.site-main-section__bg-illustration1 {
    top: 175px;
    right: 970px;
    height: 150px;
}

.site-main-section__bg-illustration2 {
    top: 430px;
    right: 1085px;
    height: 85px;
}

.site-main-section__bg-illustration3 {
    top: 660px;
    right: 1170px;
    height: 160px;
}