.site-main-section {
    position: relative;
    padding-top: 23vh;
    margin-bottom: 40vh;
}

@media screen and (max-width: 1000px){
    .site-main-section {
        padding-top: 43vh;
        margin-bottom: 15vh;
    }
}