.how-to-order-section-algorithm-list-item__content {
    font-family: Circe;
    font-size: 27px;
    margin-top: 1vh;
    letter-spacing: 0.4px;
    line-height: 31px;
}

@media screen and (max-width: 1000px) {
    .how-to-order-section-algorithm-list-item__content {
        font-size: 40px;
        margin-top: 3vh;
        line-height: 50px;
    }
}