.site-our-cakes-section__title {
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    color: #2d2829;
    letter-spacing: 1px;
    height: 145px;
}

@media screen and (max-width: 1000px){
    .site-our-cakes-section__title {
        font-size: 74px;
        text-align: center;
    }
}