.how-to-order-section-algorithm__title {
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1024px){
    .how-to-order-section-algorithm__title {
        text-align: center;
        font-size: 7.3vw;
        padding-bottom: 8vw;
    }
}