.our-cakes-section-types-block-platform__bg_type_classic {
    background: url(images/classic.png) no-repeat center center;
}

.our-cakes-section-types-block-platform__bg_type_mousse {
    background: url(images/mousse.png) no-repeat center center;
}

.our-cakes-section-types-block-platform__bg_type_wedding {
    background: url(images/wedding.png) no-repeat center center;
}

.our-cakes-section-types-block-platform__bg_type_men {
    background: url(images/men.png) no-repeat center center;
}

.our-cakes-section-types-block-platform__bg_type_women {
    background: url(images/women.png) no-repeat center center;
}

.our-cakes-section-types-block-platform__bg_type_childish {
    background: url(images/childish.png) no-repeat center center;
}

.our-cakes-section-types-block-platform__bg {
    background-size: 100%;
    background-size: cover;
}