.cake-platform-arrow {
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    text-decoration: none;
    letter-spacing: 2px;
}

.cake-platform-arrow:hover .cake-platform-arrow__image {
    margin-right: -15px;
    padding-left: 35px;
}

.cake-platform-arrow__before {
    font-family: Circe;
    font-size: 25px;
    color: #2d2829;
}

.cake-platform-arrow__image {
    height: 20px;
    padding-left: 20px;
    transition-duration: 0.2s;
}

@media screen and (max-width: 1000px){
    .cake-platform-arrow {
        display: none;
    }
}