.bg-image {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1000px){
    .bg-image {
        left: 0px;
        margin: auto;
    }
}