.site-footer-nav-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5vh;
    padding-bottom: 6vh;
}

@media screen and (max-width: 1000px) {
    .site-footer-nav-panel {
        display: block;
        padding-top: 13vh;
        padding-bottom: 6vh;
    }
}