.site-footer-nav-panel-links__item {
    font-family: Circe;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
}

.site-footer-nav-panel-links__item:link {
    color: #2d2829;
}

.site-footer-nav-panel-links__item:visited {
    color: #2d2829;
}

.site-footer-nav-panel-links__item:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1300px){
    .site-footer-nav-panel-links__item {
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .site-footer-nav-panel-links__item {
        margin-top: 5.5vh;
        font-size: 45px;
        display: block;
    }

    .site-footer-nav-panel-links__item:link {
        color: white;
    }

    .site-footer-nav-panel-links__item:visited {
        color: white;
    }
}
