.site-footer-nav-panel__number {
    display: none;
}

@media screen and (max-width: 1000px) {
    .site-footer-nav-panel__number {
        display: block;
        color: white;
        font-family: Circe;
        font-size: 45px;
        padding-top: 6vh;
        padding-bottom: 10vh;
    }
}