.site-contacts-section__bg {
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 570px;
}

@media screen and (max-width: 1000px){
    .site-contacts-section__bg {
        display: none;
    }
}