.header-links__item {
    font-family: Circe;
    font-size: 18.1px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.header-links__item:link {
    color: #2d2829;
}

.header-links__item:visited {
    color: #2d2829;
}

.header-links__item:hover {
    color: #f50049;
}

@media screen and (max-width: 1450px) {
    .header-links__item {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .header-links__item {
        display: block;
        font-size: 3vw;
        padding: 2vw;
        background: white;
    }
}