.header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 75%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .header-nav {
        width: 100vw;
    }
}

@media screen and (max-width: 1024px) {
    .header-nav {
        justify-content: space-between;
        align-items: center;
    }
}