.site-header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1000px){
    .site-header {
        background: white;
        align-items: center;
        height: 13vh;
    }
}