.site-header__link {
    font-family: Circe;
    font-size: 18.1px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.site-header__link:link {
    color: #2d2829;
}

.site-header__link:visited {
    color: #2d2829;
}

.site-header__link:hover {
    color: #f50049;
}

@media screen and (max-width: 1450px) {
    .site-header__link {
        font-size: 14px;
    }
}