.site-header-menu {
    display: flex;
    width: 100%;
}

.site-header-menu-btn{
    display: none;
    transition-duration: 0.2s;
}

@media screen and (max-width: 1000px) {
    .site-header-menu {
        width: initial;
    }

    .site-header-menu:hover > .site-header-links{
        display: block;
    }

    .site-header-menu-btn {
        display: block;
    }
}