.site-main-section-info-benefits {
    padding-top: 19vh;
}

@media screen and (max-width: 1000px){
    .site-main-section-info-benefits {
        padding-top: 6vh;
        padding-bottom: 10vh;
    }
}