.site-how-to-order-section-algorithm-list-item__title {
    font-family: Circe;
    font-weight: 600;
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .site-how-to-order-section-algorithm-list-item__title {
        font-size: 45px;
    }
}