.contacts-section-form__button {
    display: block;
    margin-top: 110px;
    padding: 15px 60px;
    font-size: 27px;
    text-transform: none;
}

@media screen and (max-width: 1024px){
    .contacts-section-form__button {
        padding: 3.5vw 13vw;
        font-size: 6vw;
        text-transform: none;
        border-radius: 80px;
        margin: auto;
        margin-bottom: 9vh;
    }
}