.footer__copyright{
    font-family: Circe;
    font-size: 20px;
    color: #b7b7b7;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

@media screen and (max-width: 1000px) {
    .footer__copyright {
        color: #aaaaaa;
        text-align: left;
        padding-bottom: 3vh;
        font-size: 35px;
        letter-spacing: 5px;
    }
}