.footer-nav-panel__title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #2d2829;
    letter-spacing: 0.1vw;
}

@media screen and (max-width: 1300px) {
    .footer-nav-panel__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .footer-nav-panel__title {
        font-size: 85px;
        color: white;
    }
}