.footer-nav-panel-social__image {
    height: 30px;
}

.footer-nav-panel-social__image_screen_mobile {
    display: none;
}

@media screen and (max-width: 1600px) {
    .footer-nav-panel-social__image {
        height: 20px;
    }
}

@media screen and (max-width: 1300px) {
    .footer-nav-panel-social__image {
        height: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .footer-nav-panel-social__image {
        display: none;
    }

    .footer-nav-panel-social__image_screen_mobile {
        height: 70px;
        display: initial;
    }
}