.common__input {
    background-color: transparent;
    color: #2d2829;
    border: none;
    border-bottom: 1px solid #c9bcbb;
    font-family: Circe;
    font-size: 20px;
    width: 770px;
    resize: none;
    height: 30px;
}

@media screen and (max-width: 1000px) {
    .common__input {
        background-color: white;
        border: none;
        font-size: 45px;
        width: 95%;
        padding: 6.5vh 2vw;
        border-radius: 12px;
    }
}