.site-how-to-order-section__background {
    position: absolute;
    z-index: -1;
    right: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1920px;
}

.site-how-to-order-section__background_screen_mobile {
    display: none;
}

@media screen and (max-width: 1000px){
    .site-how-to-order-section__background {
        display: none;
    }

    .site-how-to-order-section__background_screen_mobile {
        display: block;
        width: 1000px;
    }
}