.site-how-to-order-section__background {
    position: absolute;
    z-index: -1;
    right: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1920px;
}
