.site-contacts-section-form__input{
    display: block;
    margin-top: 5vh;
}

@media screen and (max-width: 1000px){
    .site-contacts-section-form__input {
        margin-top: 4vh;
    }

    .site-contacts-section-form__input_height_250 {
        height: 250px;
    }

    .site-contacts-section-form__input_margin-bottom_30 {
        margin-bottom: 50px;
    }
}