@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');
@font-face {
    font-family: IntroScriptR;
    src: url(common/fonts/IntroScriptR.otf);
}
@font-face {
    font-family: Circe;
    src: url(common/fonts/Circe-Regular.ttf);
}

.base-section {
    margin: auto;
    max-width: 1698px;
    padding-right: 101px;
    padding-left: 101px;
}

body {
    background: #fbebea;
}

@media screen and (max-width: 1024px) {
    .base-section {
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media screen and (max-width: 425px) {
    .base-section {
        padding-right: 20px;
        padding-left: 20px;
    }
}