.main-section-info-benefits-item__image{
    width: 75px;
    padding-right: 10px;
}

@media screen and (max-width: 1000px) {
    .main-section-info-benefits-item__image {
        width: 120px;
        padding-right: 35px;
    }
}
