.contacts-section-info-social-icon-vk {
    padding-top: 20px;
    height: 65px;
    margin-left: 30px;
}

@media screen and (max-width: 1024px) {
    .contacts-section-info-social-icon-vk {
        padding-top: 3.5vw;
        height: 15vw;
        margin-left: 10vw;
    }

}