.site-contacts-section-info-social-icon-group {
    display: flex;
    margin-top: 4vh;
}

@media screen and (max-width: 1000px) {
    .site-contacts-section-info-social-icon-group {
        margin-top: 3vh;
    }
}