.main-section-info__button{
    margin-top: 8vh;
}

.main-section-info__button_screen_mobile{
    display: none;
}

@media screen and (max-width: 1024px){
    .main-section-info__button {
        display: none;
    }
    .main-section-info__button_screen_mobile {
        padding: 4.5vw 20vw;
        border-radius: 136px;
        font-size: 4vw;
        display: block;
        margin: auto;
    }
}