.main-section-info__subtitle {
    font-family: IntroScriptR;
    font-size: 60px;
    color: #32313d;
    padding-top: 3vh;
    letter-spacing: -1.5px;
}

@media screen and (max-width: 1024px){
    .main-section-info__subtitle {
        font-size: 7vw;
        padding-top: 9vh;
        text-align: center;
    }
}